@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: var(--font-urbanist), system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, "Noto Sans", sans-serif;
  scroll-behavior: smooth;
}